$bg-color:black;
$btn-font-size:30px;
$google-font:'Oswald';
$min-section-height-desktop:700px;
$mobile: "(max-width: 768px)";
$navigation-link-color:white;
$padding-tb:20px;
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$text-color:white;