@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin link-colors($background-color , $foreground-color , $hover-background-color , $hover-foreground-color) {
  background-color:$background-color;
  color:$foreground-color;

  &:hover {
    background-color:$hover-background-color;
    color:$hover-foreground-color;
  }
}

@mixin margin-fun($direction, $value) {
  margin-#{$direction}:#{$value};
}

@mixin color-any($color-value) {
  color:$color-value;
}

@mixin bg-colored($color-value) {
  .circle.bg-#{$color-value} {
    background-color: #{$color-value};
  }
}
